#left_bloc{
	display: inline-block;
}

#right_bloc{
	float:right;
	width:45%;
}

#right_bloc img{
	position:absolute;
    top: 0;
    -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
            transform: translateY(10%);
	width:75%;
	left:-10%;
}


footer p:nth-child(1) {
	padding-top: 5%;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) { /*  iPhone 5, 5S, 5C and 5SE */

}