/*https://demos.onepagelove.com/html/agnes/*/
body{
	width:80%;
	margin:auto;
	background-color: #F6F8FA;
	font-family: "Ubuntu";
}

h1,h2,h3{
	color:#1F2B35
}

.text{
	font-size: 19px;
	line-height: 35px;
	color:#718495;
}

h2{
	font-size: 37px;
}

#logo_maitre{
	width:60px;
	height:60px;
	padding:3% 0 3% 14%;
}

header{
	display: flex;
  	justify-content: center;
}

#right_bloc{
	position: relative;
	width:45%;
	background-color: #0079C2;

}

#right_bloc img{
	position:absolute;
    top: 50%;
    transform: translateY(-50%);
	width:75%;
	left:-10%;
	box-shadow: -2px 0px 20px #718495;
}

#left_bloc{
	width:55%;
	background-color: #FFFFFF;
}

#left_bloc section{
	padding:7% 0 0 15%;
}

h1{
	font-size: 42px;
	margin:auto;
}

#left_bloc p{
	width:70%;
	padding-bottom: 70px;
}


/*

	Section des Services

*/


section{
	background-color: #FFFFFF;
}

section h2{
	padding-top: 40px;
	text-align: center;

}

ul{
	padding-top:50px;
	text-align: center;
}

li{
	text-align: center;
	display: inline-block;
	width:25%;
	margin-left:2.5%;
	margin-right:2.5%;
	padding-bottom: 80px;
}


/*
	Section du contact et historique

*/

section:nth-child(3){
	text-align: center;
}

section:nth-child(3) div{
	display: inline-block;
	width:45%;
	margin:auto;
	vertical-align:top;
	margin-top:40px;
	margin-bottom:40px;
}

section:nth-child(3) div:nth-child(1){
	text-align: center;
	border-right: 2px solid #1F2B35;
	font-size: 40px;
}

section:nth-child(3) div:nth-child(2){
	font-size: 25px;
	line-height: 40px;
	padding-left:30px;
}

h2 img{
	width:40px;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: -60px;
}

/*

	Footer

*/

footer{
	margin-top:30px;
	margin-bottom:30px;
	background-color: #0079C2;
	height:200px;
}


