body{
	width:80%;
	margin:auto;
	background-color: #F6F8FA;
	font-family: "Ubuntu";
}

h1,h2,h3{
	color:#1F2B35
}

.text{
	font-size: 19px;
	line-height: 35px;
	color:#718495;
}

h2{
	font-size: 37px;
}

#logo_maitre{
	width:60px;
	height:60px;
	margin:3% 0 3% 14%;
}

header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
}

#right_bloc{
	position: relative;
	width:45%;
	background-color: #0079C2;

}

#right_bloc img{
	position:absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
	width:75%;
	left:-10%;
	-webkit-box-shadow: -2px 0px 20px #718495;
	        box-shadow: -2px 0px 20px #718495;
}

#left_bloc{
	width:55%;
	background-color: #FFFFFF;
}

#left_bloc section{
	padding:7% 0 0 0%;
}

h1{
	font-size: 42px;
	margin:auto;
	text-align: center;
}

#left_bloc p{
	width:70%;
	margin:auto;
	padding-bottom: 70px;
	margin-top:50px;
	text-align: center;
}



/*

	Section des Services

*/


section{
	background-color: #FFFFFF;
}

section h2{
	padding-top: 40px;
	text-align: center;

}

ul{
	padding-left: 0;
	padding-top:50px;
	text-align: center;
}

li{
	text-align: center;
	display: inline-block;
	width:25%;
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom: 80px;
	-webkit-transition-duration: 1s;
	     -o-transition-duration: 1s;
	        transition-duration: 1s;
	color:#718495;
}

li p{
	width:60%;
	margin:auto;
	font-size:19px;
}

li:hover{
	-webkit-box-shadow: 5px 5px 18px -5px grey;
	        box-shadow: 5px 5px 18px -5px grey;
}


/*
	Section du contact et historique

*/

section:nth-child(3){
	text-align: center;
}

section:nth-child(3) div{
	display: inline-block;
	width:50%;
	margin:auto;
	vertical-align:top;
	margin-top:40px;
	margin-bottom:40px;
}

section:nth-child(3) div:nth-child(1){
	text-align: center;
	-webkit-box-shadow: 5px 0 0 -2px #1F2B35;
	        box-shadow: 5px 0 0 -2px #1F2B35;
	font-size: 40px;
}

section:nth-child(3) div:nth-child(2) p{
	width:90%;
	margin:auto;
}

h2 img{
	width:40px;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: -60px;
}

/*

	Footer

*/

footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top:30px;
	margin-bottom:30px;
	background-color: #0079C2;
	height:250px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #FFFFFF;
	font-size:30px;
	text-align: center;
}

footer p:nth-child(1){
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	width:90%;
}


footer p:nth-child(2){
	font-size: 20px;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	width:90%;
}

footer a:visited{
	color:#1F2B35;
}


/* Media queries */

@media screen and (min-width: 1400px){		/* If over 1400px */

		#right_bloc img{
			min-width: 	450px;
		}

}


@media screen and (min-width: 2000px){		/* If over 2000 px */

	h2{
		font-size:40px;
	}

	li img{
		width:80px;
	}

	h3{
		font-size:30px;
	}

	li p{
		font-size: 27px;
	}

	.text{
		font-size:28px;
		line-height: 40px;
	}

	footer{
		font-size: 45px;
	}

	footer p:nth-child(2){
		font-size: 30px;
	}
}

@media screen and (min-width: 2500px){	/* If over 2500px */

	li img{
		width:100px;
	}

	section:nth-child(3) div:nth-child(1){
		font-size: 45px;
	}

	h2 img{
		width:50px;
	}
}

@media screen and (min-width: 3000px){ /* If over 3000px */

	#right_bloc img{
		width:50%;
	}
}


@media screen and (max-width: 1399px){		/* If under 1399px */

	#right_bloc img{
		min-width: 	400px;
		left:-5%;
	}

	#left_bloc p{
		width:80%;
	}
}

@media screen and (max-width: 1250px) { /* If under 1250px */

	body{
		width:90%;
	}
}

@media screen and (max-width: 1000px){ /* If under 1000px */

	body{
		width:100%;
	}

	#right_bloc img{
		min-width: 	400px;
		left:-2.5%;
	}
}

@media screen and (max-width: 900px){ /* If under 900px */

	h1{
		font-size: 37px;
		width:90%;
	}

	h2{
		font-size: 33px;
	}

	.text{
		font-size: 17px;
	}

	#right_bloc img{
		min-width: 	350px;
		left:-2.5%;
	}

	section:nth-child(3) div:nth-child(1){
		font-size: 30px;
	}

}

@media screen and (max-width:800px){ /* If under 800px */

	header{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	#left_bloc{
		width:100%;
	}

	#right_bloc{
		width:100%;
		text-align: right;
	}

	#right_bloc img{
		position: static;
		width:40%;
		min-width: 300px;
		-webkit-transform: translateY(-20%);
		    -ms-transform: translateY(-20%);
		        transform: translateY(-20%);
	}

	h2 img{
		display: none;
	}

	li{
		width:45%;
	}

	li p{
		width:80%;
		margin:auto;
	}
}

@media screen and (max-width: 650px){

	h1{
		font-size: 33px;
	}

	h2{
		font-size: 27px;
	}

	.text{
		font-size: 17px;
	}

	section:nth-child(3) div:nth-child(1){
		font-size: 30px;
		display: block;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

	section:nth-child(3) div:nth-child(2){
		border-top:5px solid #1F2B35;
	}

	section:nth-child(3) div{
		width:90%;
	}


}

@media screen and (max-width:500px){

	li{
		width:100%;
		margin-left:0;
		margin-right:0;
	}

	li p{
		width:60%;
	}
}

@media screen and (max-width:300px){

	#right_bloc img{
		min-width: 	auto;
		width:90%;
	}
}